# Jenkins runtime files
docker/jenkins/jenkins_home/

# --- Terraform ---
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/terraform.tfvars
**/null

# --- Sonarqube ---
docker/sonarqube/data/
docker/sonarqube/logs/
docker/sonarqube/extensions/

# Ansible 관련
*.retry
# Vault 비밀번호 자체는 올려도 되지만(암호화되어 있음), 
# 비밀번호를 적어둔 텍스트 파일이 있다면 반드시 제외해야 합니다.

# 시스템/보안 관련
.ssh/
known_hosts
*.pem
*.key
*.pub

# --- Docker & System ---
# Docker Compose 실행 시 생성되는 임시 파일들
.env
.DS_Store
Thumbs.db

# --- Nginx Proxy Manager ---
# 실제 운영 데이터와 인증서는 로컬에만 보관하고 설계도만 공유합니다.
docker/nginx-proxy-manager/data/
docker/nginx-proxy-manager/letsencrypt/
docker/npm/data/
docker/npm/letsencrypt/

# --- Python (Flask API) ---
# 파이프라인 작동 시 생성되는 파이썬 컴파일 파일 및 가상환경
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
