#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

ssh_pwauth: true
disable_root: false

packages:
  - docker.io
  - curl
  - git

runcmd:
  - systemctl enable docker
  - systemctl start docker

#cloud-config
growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false
