#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "test2"
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC2q+e0uFN+oYbgs1cnnWTQN48zTxNIZxGZmNdEZOStbmcLXfZ/4AJ5hM+TEDcI3mS1ja8T6OZ6yPMjpuyEab3GeqChrJhA+raLU9U8NnWDwswWU1oajmwZkeo6W67rO5trl+5PPLeUE9maFTbY56bjpdhLHbnaxwNaKdyEooBQIpp9kJr493QauvhGD83RRcHA7Y4gzAOwebpHzGLXkNtNjrjC2q2+01xo4FEb1abHsfpsADaiPYRHpVYXBjsg0dAj+/UzyDKHDEGjgG3Fmr6GUx27X0CSHjcXeZryWm3soyefibUlocbhx8igYNAiytaPkefXw7oeOyOODo4vJrm9oUN1jiLIkVrDPAPoVS2TGRimAFahG3hxBQvd+vY9FXpkqQHiMz/Y2hKyk6UWRxsUNdV8MHbEWNFCqf9ez5n7eIGk/0Dq7PrFQmxBX2YgJy9SiVdEK+31mJ9SjykhkCbG6uJ/fj3GytXOhYqnDNmFRnbag8uK1LHGxUj62roYq4bzJpE77IBGv+HKLZ0yWZya1KxLbC5bp6FTsBpvwK2LtzJ3TxY0P3ye43fS6ZakZvGk/bKCARU5srySx7mw+utZsZTy6gU37Kb9De1HmpyOmRIuNFvN4pBhVuCtZxPuAgjb1uCv1ZdtSpVB+5bch29EzHUmd7zuVdrSrqqi1tkWqw== test1@test1

ssh_pwauth: true
disable_root: false

packages:
  - docker.io
  - curl
  - git

runcmd:
  - systemctl enable docker
  - systemctl start docker

#cloud-config
growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false

