global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'docker-containers'
    static_configs:
      - targets: ['host.docker.internal:9323']
